body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form textarea {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}
