body {
  font-family: Arial;
  background: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.card input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.link {
  color: blue;
  margin-top: 10px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}
