* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.5;
}

#root {
  padding: 20px;
}

button {
  padding: 10px 18px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.3s;
}

button:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}
